{% extends 'base.html' %}
{% load static %}

<body style="display: flex; background: #eee; min-height: 100vh;">
    {% block content %}
    <div class="main-body" style="display: flex; align-items: center; justify-content: center; margin-top: 30px;">
        <div class="inner-box">
            <h3>Smart<span style="color: green;">Phones</span> </h3>
            <div class="paragraph">
                <p style="font-family: arial; color: #533;">Choosing the right smartphone can be a tough task. <br> However TechBuddy has got you covered.</p>
                <p>Fill out this simple form and get recommendations based on your choices.</p>
            </div>
        </div>
    </div>
    <hr>
<div class="container" style="margin: auto; width: 500px; max-width: 90%;">
    <h1>Fill out this simple <span style="color: green;">form</span></h1>
    <form action="" method="post" style="padding: 20px; background-color: white; height: 100%; width: 100%; border-radius: 4px; border: solid 1px black;">
        {% csrf_token %}
        <div class="form-group " style="text-align: center;">
          <p>Choose your brand preference</p>
          <input type="radio" name="brand" value="Samsung">
          <label for="brand-1">Samsung</label>
          <input type="radio" name="brand" value="Redmi">
          <label for="brand-2">Redmi</label>
          <input type="radio" name="brand" value="Realme">
          <label for="brand-3">Realme</label>
        </div>
        <div class="form-group" style="margin-top: 20px; text-align: center; margin-bottom: 30px;">
            <p>Select your budget range.</p>
            <input type="radio" name="budget" id="" value="10k-20k">
            <label for="budget-1">10k-20k</label>
            <input type="radio" name="budget" id="" value="20k-30k" >
            <label for="budget-1">20k-30k</label>
            <input type="radio" name="budget" id="" value="30-40k">
            <label for="budget-1" style="margin-left: 0;">30k-40k</label>
        </div>
        <input type="submit" value="Submit" class="btn" style="background-color: black; color: white; margin-left: 170px;">
    </form>
</div>
    {% endblock %}
</body>